BasedOnStyle: LLVM

Language: Cpp

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

# Line length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach

# Functions
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

# Control statements
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Spaces
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

# Pointers/references
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# C++
NamespaceIndentation: None

# Classes
AccessModifierOffset: -4

# Constructors
BreakConstructorInitializers: BeforeComma

# Templates
AlwaysBreakTemplateDeclarations: Yes
